body
{background-color: rgb(230, 58, 5);}

header{
    margin: 2vh auto;
}

header, nav, main
{
    background-color: white;
    min-height: 10vh;
    
}

nav, main{
    min-height: 82vh;
}

@media (min-width: 576px) { 
    
 }


@media (min-width: 768px) { 
    
 }


@media (min-width: 992px) { 
    
 }


@media (min-width: 1200px) { 
    
 }